*
{
	padding: 0;
	margin: 0;
}

body
{
	background: url("http://notgoaway.com/wp-content/uploads/2017/07/Background-Color-62.jpg") no-repeat center fixed;
  background-size: cover;
}

header
{
	background-color: rgba(30,30,30,0.4);
	display: flex;
	justify-content: center;
	color: white;
	box-shadow: 0px 3px 8px black;
}

.form
{
	width: 50%;
	justify-content: center;
	background:none!important;
}

.form > p > input
{
	border-radius: 1rem;
}

p > input
{
	text-align: center;
}

.form > p
{
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

select
{
	padding: .5rem;
	border-radius: 5rem;
	box-shadow: 0px 3px 8px black;
}

label, select
{
	font-family: cursive;
	margin-right: 1rem;
}

input:checked + label
{
	font-weight: bold;
	text-shadow: 3px 3px 5px black;
	color: green!important;
}

select:hover
{
	border: none;
	background-color: inherit;
	font-weight: bold;
	color: green;
}

option
{
	background-color: inherit;
	border-radius: 100%;
	font-weight: bold;
}

option:hover
{
	background-color: inherit;
	border-radius: 100%;
	font-weight: bold;
}

header h1
{
	font-weight: normal;
	font-size: 2em;
	color: white;
	padding: 10px 0px;
}

div
{
	margin: 25px auto;
	width: 500px;
	height: 100%;
	border-radius: 2px;
}

.content
{
	color: white;
	text-align: center;
	font-size: 1.5em;
}

table
{
	margin: 0px auto;
}

td
{
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	border-radius: 50%;
	width: 57px;
	height: 57px;
	background-color: #E0E0E0;
	box-shadow: 2px 2px 10px rgba(1,1,1,0.4);
}

@media only screen and (max-width: 640px)
{
 	td
	{
 		width: 37px;
		height: 37px;
 	}
}

@media only screen and (max-width: 400px)
{
 	td
	{
 		width: 30px;
		height: 30px;
 	}
}

td:hover
{
	background-color: #BABABA;
	box-shadow: none;
}

@keyframes bounce
{
	from {transform: translateY(0px);}
	50% {transform: translateY(-15px);}
	to   {transform: translateY(10px);}
}

span
{
	border-radius: 50%;
	display: block;
	width: 100%;
	height: 100%;
	margin-top: -770px;
	animation: bounce 0.45s ease 2 alternate;
}

.pname
{
	text-shadow: 3px 3px 5px black;
	padding: 6px;
}

button
{
	text-shadow: 3px 3px 5px black;
	cursor: pointer;
	text-align: center;
	padding: 12px 20px;
	font-size: 24px;
	margin: auto auto;
	border: none;
	font-weight: bold;
	color: white;
	background-color: transparent;
	border-bottom: 2px solid #27808e;
	transition: all 1s;
}

button:hover
{
	background-color: rgba(127,127,127,0.1);
}

.alert
{
	z-index: 10;
	font-size: 30px;
	border-radius: 5px;
	-moz-transition-duration:4s;
	background-color: inherit;
	opacity: 1 !important;
	position:absolute;
	padding: 10px;
  left: 50%;
  top: 50%;
  color: white;
  width: auto;
  height: auto;
  margin-left: -200px;
  margin-top: -200px;
  text-align: center;
  box-shadow: 2px 2px 20px black;
}

img
{
	margin-top: 10px;
}

.score
{
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	font-size: 30px;
	margin: auto;
	height: 200px;
	width: 700px;
	text-align: center;
}

.score p
{
	display: inline-block;
	margin: 20px;
}

.hide
{
	display: none;
}
